<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="i.am.whp.dao.UserDao">

    <!--用户登录表-->
    <select id="queryUser" resultType="i.am.whp.model.po.User">
        SELECT * FROM user
        WHERE username = #{username}
    </select>

    <select id="checkPassword" parameterType="i.am.whp.model.po.User" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user
        WHERE username = #{username} and password = #{password}
    </select>

    <insert id="addUser" parameterType="i.am.whp.model.po.User">
        INSERT INTO user(username,password,role,email,mobile,address,regtime,logintime)
        VALUES (#{username},#{password},#{role},#{email},#{mobile},#{address},#{regtime},#{logintime})
    </insert>

    <update id="updateUser" parameterType="i.am.whp.model.po.User">
        UPDATE user
        <trim prefix="set" suffixOverrides=",">
            <if test="password!=null">password=#{password},</if>
            <if test="mobile!=null">mobile=#{mobile},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="address!=null">address=#{address},</if>
            <if test="logintime!=null">logintime=#{logintime},</if>
        </trim>
        WHERE username=#{username}
    </update>

    <select id="getAllUser" resultType="i.am.whp.model.po.User">
        SELECT * FROM user
    </select>
</mapper>
