<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="i.am.whp.dao.VehicleDao">
    <insert id="addVehicle" parameterType="i.am.whp.model.po.Vehicle">
        insert into vehicle(vehicleid,nowplace,state,owner,driver)
        values(#{vehicleid},#{nowplace},#{state},#{owner},#{driver})
    </insert>

    <delete id="deleteVehicle">
        delete from vehicle
        where vehicleid=#{vehicleid}
    </delete>

    <select id="getAllVehicles" resultType="i.am.whp.model.po.Vehicle">
        select * from vehicle
    </select>

    <select id="getVehicleById" resultType="i.am.whp.model.po.Vehicle">
        select * from vehicle where vehicleid=#{vehicleid}
    </select>

    <select id="getAllVehicleByDriver" resultType="i.am.whp.model.po.Vehicle">
        select * from vehicle
        where driver=#{transporter}
    </select>

    <update id="updateVehicle" parameterType="i.am.whp.model.po.Vehicle">
        update vehicle
        <trim prefix="set" suffixOverrides=",">
            <if test="nowplace!=null">nowplace=#{nowplace},</if>
            <if test="state!=0">state=#{state},</if>
            <if test="owner!=null">owner=#{owner},</if>
            <if test="driver!=null">driver=#{driver},</if>
        </trim>
        where vehicleid = #{vehicleid}
    </update>
</mapper>
